a {
    text-decoration: none;
}
a[href]
{
    color: rgba(255, 255, 255, 0.932);
}
nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav > ul > li{
    margin-right: 20px;

}
body{
    margin: 0%;
    width: 100%;
    height: 100vh;
    background: #e6eaee;

}

.top{
    width: 100%;
    height: 10vh;
    background-color:#232a34;
    display: flex;
    align-items: center;
    white-space: nowrap;
    
}
.top_menu{
    color: #d8d8d8;
    font-size: 17px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 10px;
}
.dl{
    background: url(../img/tx.jpg)no-repeat ;
    background-size: 50px 50px; 
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.menu2{
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu2 li {
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    /* background-size:50px 50px; */
    /* padding: 0; */
    
}
.lg{
    width: 45px;
    height: 45px;
    background-color: #05A081;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 3px solid #ffffff;
    margin-left: 15px;
    box-shadow: 0 2px 4px 0 rgb(121 146 185 / 54%);
}




.box{
    margin-left: 70%;
    margin-top: -1vh;
}

.menu2{
    margin-top: 0px;
}
nav > ul {
    display: flex;
    align-items:flex-start;

}
nav ul li  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul li ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
nav ul li ul li{
    width: 100%;
    height: 100%;
    border-radius: 0 0 8px 8px;
}
/* menu */
nav ul li ul li a{            
    width: 88px;
    height: 45px;
    background: #232a34;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
nav ul li ul li .aaa{            
    width: 88px;
    height: 45px;
    background: #232a34;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    

}
nav ul li ul li .aa{            
    width: 88px;
    height: 45px;
    background: #232a34;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px ;
    

}

  nav {
    width: 100%;
    height: 10vh;
    padding-top: 4vh;
  }
  .drop li {
    opacity: 0;
    transform-origin: top center;
  }
  


               /* 下拉菜单 */
.main li:hover .menu2 li:first-of-type {
    animation: menu2 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  
  .main li:hover .menu2 li:nth-of-type(2) {
    animation: menu2 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  
  .main li:hover .menu2 li:nth-of-type(3) {
    animation: menu2 0.3s ease-in-out forwards;
    animation-delay: 0.9s;
  }
  
  .main li:hover .menu2 li:last-of-type {
    animation: menu2 0.3s ease-in-out forwards;
    animation-delay: 1.2s;
  }
  
  @keyframes menu2 {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .bottom{
      width: 60%;
      height: 440px;
      padding-top: 40px;
      background-color: #ffffff;
      margin: 60px auto auto auto ;
      box-shadow: 0 2px 4px 0 rgb(121 146 185 / 54%);
      border-radius: 4px 30px  4px 30px;
  }
  .b_1{
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 3.9px;
      display: flex;
      justify-content: center;
  }
  .b_2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    letter-spacing: 1.3px;
    font-size: 18px;
    font-weight: 500;
  }
  .b_2:hover{
      cursor: url(../img/mz.ico),auto;
  }
  .b_3{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 40px;
  }
  .b_3_{
      width: 100px;
      height: 40px;
      background-color: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgb(121 146 185 / 54%);
  }
  